@if (Model != null)
{
    foreach (var feedContent in Model)
    {
        <a class="feed-content" href="@feedContent.Link" target="_blank">
            <img src="data:image/jpeg;base64,@feedContent.ImageBase64" />
            <h5>@feedContent.Title</h5>
            <p class="published"><i>Published on @feedContent.PubDate</i></p>
            <p class="desc">@feedContent.Description</p>
        </a>
    }
}