@if (Model != null)
{
    foreach (var feedItem in Model)
    {
        <div class="feed-nav @(feedItem.Active ? "feed-nav-active" : null)" @onclick="(async (_) => await OnFeedNavClickAsync(feedItem))">
            <p>@feedItem.Title</p>
            <Icon Class="@(feedItem.Default ? "nav-icon default-icon-checked" : "nav-icon")" Name="IconName.Desktop" Float="Float.End" Clicked="((_) => OnDefaultToggle(feedItem))" />
            <Icon Class="@(feedItem.Favorite ? "nav-icon favorite-icon-checked" : "nav-icon")" Name="IconName.Star" Float="Float.End" Clicked="((_) => OnFavoriteToggle(feedItem))" />
        </div>
    }
}