@if (Model != null)
{
    foreach (var feedItem in Model)
    {
        <div class="feed-nav" @onclick="(async (_) => await OnFeedNavClickAsync(feedItem))">
            <div class="feed-item @(feedItem.Active ? "feed-item-active" : null)">
                <p>@feedItem.Title</p>
                <Icon Class="nav-icon" Name="IconName.MoreVertical" Float="Float.End" @onclick:stopPropagation="true" Clicked="((e) => OnMoreClickAsync(e, feedItem))" />
            </div>
            @if (feedItem.FeedLabels != null)
            {
                <div class="feed-labels">
                    @foreach (var label in feedItem.FeedLabels)
                    {
                        if (string.IsNullOrEmpty(label.Color))
                        {
                            <span>@label.Name</span>
                        }
                        else
                        {
                            <span style="color:@label.Color;">@label.Name</span>
                        }
                    }
                </div>
            }
        </div>
    }

    <FeedNavOption @ref="FeedNavOptionRef"
                   @bind-FeedItem="SelectedFeedItem"
                   OnDefaultChangeCallback="OnDefaultToggle"
                   OnFavoriteChangeCallback="OnFavoriteToggle"
                   OnEditCallback="OnEditContext"
                   OnDeleteCallback="OnDeleteRecord"/>
    
    <EditFeedModalView @ref="editFeedModalViewRef" />
}