@if (Model != null)
{
    foreach (var feedContent in Model)
    {
        <a class="feed-content" href="@feedContent.Link" target="_blank">
            <h5>@feedContent.Title</h5>
            <p class="published"><i>Published on @feedContent.PubDate</i></p>
            <p class="desc">@((MarkupString)feedContent.Description)</p>
        </a>
    }
}