@if (Model != null)
{
    foreach (var feedContent in Model)
    {
        <a class="feed-content" href="@feedContent.Link" target="_blank">
            <div class="feed-content-linear">
                <img alt="link preview" src="data:image/jpeg;base64,@feedContent.ImageBase64" />
                <div>
                    <h5>@feedContent.Title</h5>
                    <p class="published"><i>Published on @feedContent.PubDate</i></p>
                    <p class="desc">@((MarkupString)feedContent.Description.Substring(0, 100))</p>
                </div>
            </div>
        </a>
    }
}