<Dropdown @ref="moreOptionsRef" Class="feed-context" Display="Display.Inline" Position="Position.Absolute" PositionStrategy="DropdownPositionStrategy.Absolute">
    @if (FeedItem != null)
    {
        <DropdownMenu>
            <span Class="px-3 fw-bold">More options</span>
            <DropdownDivider />
            <DropdownItem Clicked="((_) => OnDefaultChangeCallback.InvokeAsync(FeedItem))">
                <Icon Class="@(FeedItem.Default ? "default-icon-checked" : "default-icon")" IconSize="IconSize.Small" Display="Display.Inline" Name="Blazorise.Icons.FluentUI.FluentUIIcons.Home" />
                <span class="dropdown-label">Default</span>
            </DropdownItem>
            <DropdownItem Clicked="((_) => OnFavoriteChangeCallback.InvokeAsync(FeedItem))">
                <Icon Class="@(FeedItem.Favorite ? "favorite-icon-checked" : "favorite-icon")" IconSize="IconSize.Small" Display="Display.Inline" Name="Blazorise.Icons.FluentUI.FluentUIIcons.Star" />
                <span class="dropdown-label">Favorite</span>
            </DropdownItem>
            <DropdownDivider />
            <DropdownItem Clicked="((_) => OnEditCallback.InvokeAsync(FeedItem))">
                <Icon IconSize="IconSize.Small" Display="Display.Inline" Name="Blazorise.Icons.FluentUI.FluentUIIcons.Pen" />
                <span class="dropdown-label">Edit</span>
            </DropdownItem>
            <DropdownItem Clicked="((_) => OnDeleteCallback.InvokeAsync(FeedItem))">
                <Icon IconSize="IconSize.Small" Display="Display.Inline" Name="Blazorise.Icons.FluentUI.FluentUIIcons.Delete" />
                <span class="dropdown-label">Remove</span>
            </DropdownItem>
        </DropdownMenu>
    }
</Dropdown>
