@page "/"

<PageTitle>Rss Feeder</PageTitle>

<div class="left-panel">
    
    @if (FeedNavigationGroups != null)
    {
        <FeedNavGroupView Model="@FeedNavigationGroups"
                          @bind-ContentLoading="ContentLoading"
                          @bind-FeedContent="FeedContents"/>
    }
</div>

<div class="main-content">

    @if (ContentLoading)
    {
        <div class="loader">
            <SpinKit Centered="true" Type="SpinKitType.Bounce" />
        </div>
    }
    else if (FeedContents != null)
    {
        <FeedContentView Model="@FeedContents" />
    }
</div>