@page "/"

<PageTitle>Rss Feeder</PageTitle>

<div class="left-panel">
    <FeedNavView Model="@FeedNavigations"
                 OnSelectFeedCallback="OnSelectFeed"
                 OnDefaultChangeCallback="OnDefaultToggle"
                 OnFavoriteChangeCallback="OnFavoriteToggle" />
</div>

<div class="right-content">

    @if (ContentLoading)
    {
        <div class="loader">
            <SpinKit Centered="true" Type="SpinKitType.Bounce" />
        </div>
    }
    else
    {
        <FeedContentView Model="@FeedContents" />
    }
</div>