@inherits LayoutComponentBase

<CascadingValue Value="this">
    <div>
        <div id="nav-wrapper">
            <div id="nav-menu">
                <NavMenu />
            </div>
        </div>
        
        <Alert Class="alert-error" Color="Color.Danger" Visible="@DisplayError">
            <AlertMessage>@ErrorMessage</AlertMessage>
        </Alert>

        <main id="main">
            @Body
        </main>
    </div>
</CascadingValue>