<div>
    <a id="nav-logo" href="/">Rss Feeder</a>
    
    <Div Float="Float.End">
        <Button Clicked="ShowFeedNavigationGroupCreateModal" Outline>
            <Icon Name="IconName.Add" />
            Group
        </Button>
    
        <Button Clicked="ShowFeedNavigationCreateModal" Outline>
            <Icon Name="IconName.Add" />
            Subscribe
        </Button>
    </Div>
</div>

<AddFeedNavigationGroupModalView @ref="_addFeedNavigationGroupModalViewRef" OnSuccessResponse="OnSaveGroupResponse" />
<AddFeedNavigationModalView @ref="_addFeedNavigationModalViewRef" GroupNames="FeedNavigationGroupNames" OnSuccessResponse="OnSaveFeedResponse" />