<div>
    <a id="nav-logo" href="/">Rss Feeder</a>
    
    <Div Float="Float.End">
        <Button Color="Color.Link" Clicked="ShowFeedNavigationGroupCreateModal">
            <Icon IconSize="IconSize.Small" Name="IconName.Add" />
            Group
        </Button>
    
        <Button Color="Color.Link" Clicked="ShowFeedNavigationCreateModal">
            <Icon IconSize="IconSize.Small" Name="IconName.Add" />
            Subscribe
        </Button>
    </Div>
</div>

<AddFeedNavigationGroupModalView @ref="_addFeedNavigationGroupModalViewRef" OnSuccessResponse="OnSaveGroupResponse" />
<AddFeedNavigationModalView @ref="_addFeedNavigationModalViewRef" GroupNames="FeedNavigationGroupNames" OnSuccessResponse="OnSaveFeedResponse" />