<div>
    <AddFeedModalView @ref="addFeedModalViewRef" OnSuccessResponse="OnSaveResponse" />

    <a id="nav-logo" href="/">Rss Feeder</a>
    <Button Float="Float.End" Clicked="OnAddFeed" Outline>
        <Icon Name="IconName.Add" />
        Add a feed
    </Button>
</div>